<!DocType html>
<!-- Button lab -->
<html ng-app="angularBusy">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js'></script>
		<script src="app.js"></script>
	</head>
	<body ng-controller="exampleController">
		
<!--1. Make a button that displays an alert when clicked using DOM.-->

	<button class="btn btn-default" ng-click="" id="button">Alert</button>
	
<!--2. Make a button and text box. When the button is clicked,
 display an alert with the message that is typed in the text box using dom.-->
 <input type="text" placeholder="Please Type Here">
 <br>
 <button class="btn btn-default" ng-click="clickMe()"><h1>Display Alert</h1></button>
 
 
<!--3. Create a div in HTML then add JavaScript to make it change colors whenever your mouse hovers over the div.
 The div should return to it's original color when the mouse exits the div. Use DOM, jQuery, and Angular.-->
 <div></div>
 <br>
 
 
<!--4. Put some text in a paragraph. Make it where when you click on the paragraph text, the color of the text switches to red.
 Once complete, try making it switch to a random color each click. Use DOM, jQuery, and Angular.-->
 <div>
<p> Jose Jalapeno on a Steek</p>
<div>
 
 
<!--5. Add a span that says your name in it to an empty div. Use DOM, jQuery, and Angular.-->
<input type="text" placeholder="hello">
<br> 
<button ng-click=''><h1>good evening</h1></button>




<!--6.Create a <ul> in HTML. From JavaScript add an <li> for items in an array that you create. Use DOM, jQuery, and Angular.-->
	<div ng-view></div>	
	</body>
</html>