<div class="container">
    <div class="container">
        <input class="btn btn-lrg btn-group-justified" type="submit" ng-click="switchView('/newpost')" value="new post">
    </div>

    <div ng-repeat="post in blog  | orderBy: '-createdAt'">
        <div class="container">
            <h2 class="blog-post-title">{{post.title}}</h2>
                <h6> by {{post.author}}</h6>
            <h6>posted {{post.timePretty}}</h6>
            <div>{{post.content}}</div>
        </div>
    </div>
</div>