<div class="container">
    <input class="btn btn-lrg btn-group-justified" type="submit" ng-click="switchView('/home')" value="home">
</div>
<div class="container center-block">
    <form action="/#/home" class="form-horizontal" ng-submit="blogPost()">
        <input type="text" ng-model="blog.title" class="form-control margin-top" id="title" placeholder="title..."/>
        <input type="text" ng-model="blog.author" class="form-control margin-top" id="author" placeholder="author..."/>
        <textarea type="text" ng-model="blog.content" class="form-control margin-top" rows="7" id="content" placeholder="talk about it..."></textarea>
        <input type="submit" class="btn btn-primary margin-top" value="post!"/>
    </form>
</div>
